@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
/* f6f7fb */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: #2b2928;
  font: 100%/1.75 Merriweather, serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-top {
  height: 560px;
}
.header {
  /* color: #ffff; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  font-family: "Lato", sans-serif;
}
.header ul {
  font-family: "Lato", sans-serif;
  list-style-type: none;
  padding: 5px 0;
  font-size: 12px;
  color: #ffff;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.logo {
  display: flex;
  align-items: center;
  padding-right: 4px;
}
.icon {
  align-self: center;
  padding: 0 10px 0 0;
}
.logo-li {
  padding-right: 14px !important;
}
.left-nav {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}
.left-nav li {
  padding-right: 25px;
}
.pipe {
  background: #807f7e;
  width: 1px;
  align-self: stretch;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.right-nav {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}
.right-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 105px;
}
.login-li {
  padding: auto 10px;
}
.get-started-btn {
  font-size: 12px;
  border: none;
  padding: 9px 9px;
  border-radius: 3px;
  background-color: #0f9b8f;
  color: #ffff;
}
.hero-image-desktop {
  object-fit: cover;
  width: 100%;
  background-position: 50% 50%;
  height: 560px;
  display: flex;
}
.hero-image-mobile {
  display: none;
}
.header.active {
  background: #2b2928;
}
.container-on-image {
  position: relative;
  top: -368px;
  padding-left: 134px;
  padding-right: 134px;
}
.container-on-image-text {
  margin-left: 0;
  padding-bottom: 46px;
  padding-right: 60px;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  width: 400px;
}
.container-on-image-btn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 15px;
  border: none;
  padding: 16px 64px 16px 64px;
  border-radius: 3px;
  background-color: #0f9b8f;
  color: #ffff;
}
.small-laptop {
  display: none;
}
/* Section 2 */
.section-2,
.section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}
.section-2-left {
  margin: auto;
  padding-bottom: 46px;
  padding-left: 60px;
  padding-right: 20px;
  font-family: "Playfair Display", serif;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
}
.section-2-left-text {
  width: 80%;
}
.section-2-right {
  margin: auto;
  padding: 0 40px 0 0;
}
.section-2-right-text {
  padding-bottom: 1px;
}
/* Section 3 */
.section-3-left {
  margin: auto;
  padding-left: 60px;
  padding-right: 120px;
}
.section-3-left-heading {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
}
.section-3-right {
  display: flex;
  flex: 1 1;
  padding: 0 20px 0 0;
}
.section-3-img {
  max-width: 100%;
}
/* Section 5 */
.section-5 {
  display: flex;
  justify-content: space-around;
}
.section-5-content {
  padding: 0px 10px 0 10px;
  max-width: 250px;
}
.section-5-img {
  height: 200px;
  width: 250px;
  margin-bottom: 10px;
}
/* For small laptop screen width: 1024 */
@media (max-width: 1024px) {
  .left-nav {
    display: none;
  }
  .small-laptop {
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }
  .toggle-btn {
    padding: 0 22px 0 9px;
    height: 13px;
    cursor: pointer;
  }
  .container-on-image {
    padding-left: 60px;
    padding-right: 60px;
  }
  .pipe {
    margin-right: 10px;
  }
  .hero-image-mobile {
    display: none;
  }
  /* Section 3 */
  .section-3-img {
    max-width: 100%;
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  .section-top {
    height: 450px;
  }
  .hero-image-desktop {
    display: none;
  }
  .hero-image-mobile {
    display: flex;
    object-fit: cover;
    width: 100%;
    background-position: 50% 50%;
    height: 450px;
  }
  /* 500px */
  .container-on-image {
    position: relative;
    top: -140px;
    left: auto;
    right: auto;
    width: 100%;
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-on-image-text {
    font-size: 30px;
    color: #ffff;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 39px;
    text-align: center;
  }
  .container-on-image-btn-div {
    text-align: center;
  }
  .container-on-image-btn {
    padding: 16px 45px 16px 44px;
  }
  /* Section 2 */
  .section-2-left {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 32px;
  }
  .section-2-right {
    margin: auto;
    padding: 0 10px 0 0;
  }
  /* Section 3 */
  .section-3-left {
    margin: auto;
    padding-left: 15px;
    padding-right: 10px;
  }
  .section-3-left-heading {
    font-family: "Playfair Display", serif;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
  }
  .section-3-right {
    display: flex;
    flex: 1 1;
    padding: 0 20px 0 0;
  }
  .section-3-img {
    max-width: 100%;
    max-height: 400px;
  }
  /* Section 5 */
  .section-5-content {
    max-width: 200px;
  }
  .section-5-img {
    height: 180px;
    width: 200px;
  }
}
@media (max-width: 543px) {
  .container-on-image {
    position: relative;
    top: -182px;
  }
  .container-on-image-text {
    line-height: 1.3;
    padding-bottom: 37px;
  }
  /* Section 2 */
  .section-2,
  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-2-left {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    font-size: 28px;
  }
  .section-2-left-text {
    width: 100%;
  }
  .section-2-right {
    text-align: center;
    margin: auto;
    padding: 0 0 0 0;
  }
  /* Section 3 */
  .section-3-left-heading {
    text-align: center;
  }
  .section-3-left-paragraph {
    text-align: center;
  }
  .section-3-right {
    padding: 0 0 0 0;
  }
  /* Section 5 */
  .section-5-content {
    max-width: 150px;
  }
  .section-5-img {
    height: 120px;
    width: 150px;
  }
}
@media (max-width: 479px) {
  .login-li {
    display: none !important;
  }
  /* Section 5 */
  .section-5{
    flex-direction: column;
  }
  .section-5-content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .section-5-content p{
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .section-5-img {
    height: 90px;
    width: 110px;
    align-self: center;
  }
}
@media (min-width: 2560px) {
  .section-2-left {
    margin: 0;
  }
}
